<head>
	<title>Minu kodukas!</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1>Suur pealkiri</h1>
	<h2>Keskmine pealkiri</h2>
	<h3 class="kastiga">Väike pealkiri</h3>
	<h4>Veel pealkiri</h4>
	<p>Paragraaf. Tavaline tekst.</p>
	<ol> <!-- order list -->
		<li>Esimene</li>
		<li class="kastiga">Teine</li>
		<li>Kolmas</li>
	</ol>
	<form>
			<input id="nimi" placeholder="Mis on Sinu nimi?"/>
			<input type="checkbox"><br/>
			<input class="kastiga" type="range">
			<input type="submit"><br/>
			<input type="date">
	</form>
	<img class="kastiga" width="100" src="https://www.google.ee/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png">

	<script src="script.js"></script>
<br/>
<br/>
<br/>
<br/>
<br/>
</body>