<!--
	1. määra lehele <title>
	2. tekita body koos mingi tekstiga
	-->

<head>
	<title>Aleksandr chat!</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div id="jutt"></div>
	<form>
		<input id="username" value="Aleksandr" placeholder="kasutaja" />
		<input id="message"value="Minu esimene sõnum :)" placeholder="sõnum" />
		<input type="submit"/>
	</form>
	<script src="script.js"></script>
</body>